<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'checkin/style.css' %}">

<body>
    <div class="mainpageContainer">
        <h1>The Design Hub Checkin System</h1>
        <form action="{% url 'search' %}" method="post" class="searchform">
            {% csrf_token %}
            {{form}}
            <input id="searchButton" type="submit" value="Search">
        </form>
        <button id="addVisitorBtn" onclick="showVisitorForm()">Add New Visitor</button>
        <div id="addVisitorFormContainer" style="display:none" >
            <h2>First time visitor</h2>
            <form action="{% url 'addvisitor' %}" method="post" class="addVisitorForm">
                {% csrf_token %}
                {{addform}}
                <input type="submit" value="Register first time visitor" id="addVisitorButton">
            </form>
        </div>

        {% if visitors_list %}
        <h2>Design Hub Visitors Register</h2>
        <table id="visitorsTable">
            <tr>
                <th>Date</th>
                <th>Full Name</th>
                <th>Company Name</th>
                <th>Telephone Number</th>
                <th>Temperature</th>
            </tr>
            {% for registered_visitor in visitors_list %}

            <tr>
                <td>{{registered_visitor.date}}</td>
                <td>{{registered_visitor.visitor.name}}</td>
                <td>{{registered_visitor.visitor.company}}</td>
                <td>{{registered_visitor.visitor.telephone_number}}</td>
                <td>{{registered_visitor.temperature}}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>

    <script>
        function showVisitorForm() {
            console.log('i am clicked')
            document.getElementById("addVisitorFormContainer").style.display = 'block'
            document.getElementById("addVisitorBtn").style.display = 'none'

        }
       
    </script>
</body>

</html>