.loginform{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}
.loginform input{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
}
#loginButton{
    background-color: yellow;
    border-radius: 6px;
    border: none;
    padding: 10px;
    font-size: 19px;
    color: rgb(2, 70, 70);
}
#loginButton:hover{
    background-color: rgb(141, 141, 5);
}
.loginInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginform h1{
    color: teal;
}
.loginform label{
    color: rgb(77, 2, 2);
}
.mainpageContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.mainpageContainer h1{
    color: rgb(49, 48, 48);
}
#searchButton{
    background-color: teal;
    border-radius: 6px;
    border: none;
    padding: 10px;
    color: white;
    width: 80px;
    /* font-size: 19px; */
}
#searchButton:hover{
    background-color: rgb(2, 56, 56);
}
.searchform input{
    height: 40px;
    width: 400px;
}
.addVisitorForm{
    display: flex;
    flex-direction: column;
}
.addVisitorForm input{
    width: 400px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#addVisitorButton{
    background-color: teal;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: medium;
}
#addVisitorButton:hover{
    background-color: rgb(2, 56, 56);
}